<!DOCTYPE html>
<html lang="{{ selected_locale }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if selected_locale == 'fr' %}
            {% trans "Bienvenue chez Holberton" %}
        {% else %}
            {% trans "Welcome to Holberton" %}
        {% endif %}
    </title>
</head>
<body>
    <h1>
        {% if selected_locale == 'fr' %}
            {% trans "Bonjour monde!" %}
        {% else %}
            {% trans "Hello world!" %}
        {% endif %}
    </h1>
</body>
</html>
