<!DOCTYPE html>
<html lang="{{ selected_locale }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Welcome to Holberton" %}</title>
</head>
<body>
    {% if g.user %}
        <p>{% trans "You are logged in as %(username)s." username=g.user.name %}</p>
    {% else %}
        <p>{% trans "You are not logged in." %}</p>
    {% endif %}
    <h1>{% trans "Hello world!" %}</h1>
</body>
</html>
